# yaml-language-server: $schema=https://gh-dash.dev/schema.json

prSections:
  - title: My PRs
    filters: is:open author:@me

  - title: Needs Review
    filters: is:open review-requested:@me

issuesSections:
  - title: My Issues
    filters: is:open author:@me

  - title: Assigned
    filters: is:open assignee:@me

defaults:
  view: prs
  preview:
    open: true

keybindings:
  universal:
    - key: g
      name: lazygit
      command: >
        cd {{.RepoPath}} && lazygit
  prs:
    - key: w
      name: Open PR in browser
      command: gh pr view {{.PrNumber}} --web
